doctype html
html(lang='en')
  head
    title Concentration
    link(rel='stylesheet',href='style.css')
    meta(charset='utf-8')

  body
    h1 Twitter Concentration
    p
      a(href='signin') Log in with Twitter
      |  to play.
